html, body {
    height: 100%;
    margin: 0px;
}

* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: #363635;
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    height: 80px;
    background-color: #f15d58;
}

#nav_logo {
    font-size: larger;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #363635;
    font-family: 'Ubuntu', sans-serif;
}

.footer {
    background-color: #363635;
    color: #ffffff;
}